<div class="sidebar-left">
    <div class="user-menu-items">
        <div class="list-unstyled btn-group">
            <button class="media btn btn-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="message_userpic"><img class="d-flex mr-3" src="./assets/img/user-header.png" alt="Generic user image"></span>
        <span class="media-body"> <span class="mt-0 mb-1">Maxartkiller</span>
          <span>New Jersey, UK.</span> </span>
        </button>
            <div class="dropdown-menu"> <a class="dropdown-item" href="customerprofile.html">Profile</a> <a class="dropdown-item" href="inbox.html">Mailbox</a> <a class="dropdown-item" href="#">Application</a> <a class="dropdown-item" href="#">Analytics Report</a> <a class="dropdown-item"
                    href="#">Preferances</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Setting</a> </div>
        </div>
    </div>
    <br>
    <ul class="nav flex-column in" id="side-menu">

        <!-- Inicio Links Recursos Humanos -->
        <!-- <li class="title-nav">Recursos Humanos</li>
        <li class="nav-item"> <a href="javascript:void(0)" class="menudropdown nav-link">Alta<i class="fa fa-angle-down "></i></a>
            <ul class="nav flex-column nav-second-level">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/alta/crear"><i class="fa fa-plus"></i>Crear</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/alta/editar"><i class="fa fa-edit"></i>Editar</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/alta/cancelar"><i class="fa fa-ban"></i>Cancelar</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/alta/listado"><i class="fa fa-list"></i>Listado</a></li>
            </ul>
        </li> -->

        <!-- <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Alta Reingreso<i class="fa fa-angle-down "></i></a>
            <ul class="nav flex-column nav-second-level ">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/alta-reingreso/crear"><i class="fa fa-plus"></i>Crear</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/alta-reingreso/editar"><i class="fa fa-edit"></i>Editar</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/alta-reingreso/cancelar"><i class="fa fa-ban"></i>Cancelar</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/alta-reingreso/listado"><i class="fa fa-list"></i>Listado</a></li>
            </ul>
        </li> -->
        <!-- 
        <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Baja<i class="fa fa-angle-down "></i></a>
            <ul class="nav flex-column nav-second-level ">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/baja/crear"><i class="fa fa-plus"></i>Crear</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/baja/editar"><i class="fa fa-edit"></i>Editar</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/baja/cancelar"><i class="fa fa-ban"></i>Cancelar</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/baja/listado"><i class="fa fa-list"></i>Listado</a></li>
            </ul>
        </li> -->

        <!-- <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Seleccion Personal<i class="fa fa-angle-down "></i></a>
            <ul class="nav flex-column nav-second-level ">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/seleccion-personal/crear"><i class="fa fa-plus"></i>Crear</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/seleccion-personal/editar"><i class="fa fa-edit"></i>Editar</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/seleccion-personal/cancelar"><i class="fa fa-ban"></i>Cancelar</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/rh/seleccion-personal/listado"><i class="fa fa-list"></i>Listado</a></li>
            </ul>
        </li> -->

        <!-- Inicio Fin Recursos Humanos -->

        <li class="title-nav">
            <hr>
        </li>

        <!-- Inicio Links Administrador -->

        <li class="title-nav">Administrador</li>
        <li class="nav-item "> <a href="javascript:void(0)" class="menudropdown nav-link">Sistema Usuarios<i class="fa fa-angle-down "></i></a>
            <ul class="nav flex-column nav-second-level ">
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/admin/usuarios/sistema-usuarios"><i class="fa fa-users"></i>Usuarios</a></li>
                <li class="nav-item"><a class="nav-link" routerLinkActive="active" routerLink="/base/admin/modulos/modulos-sistema-usuarios"><i class="fa fa-tasks" aria-hidden="true"></i>Modulos</a></li>
            </ul>
        </li>

    </ul>

</div>